body {
    background-color: #000000;
    background-image: url("Shanthea-Website-Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

.title h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 6em;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
}


#person{
    width: 450px;
    height: auto;
    margin: 0 right;
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#logo{
    width: 600px;
    height: auto;
    margin: 0 left;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}


.navbar{
    background-color:rgba(0, 0, 0, 0);
    color:goldenrod;
    font-variant-caps: all-small-caps;
    font-size: 1.5em;
    font-weight: 500;
    position: absolute;
    top: 0;
    padding: 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
}

.navbar img{
    width: auto;
    height: 110px;
    margin: 0px;
align-self: baseline;
}

#expression{
    height: 90px;
    width: auto;
}
.navbar a{
    color:whitesmoke;
    text-decoration: none;
    align-self: baseline;
    margin: 20px;
}

.navbar a:hover{
    color:rgb(255, 231, 133);
}

button {
    color: rgb(255, 205, 3);
    background-color:  rgba(0, 0, 0, 0);
    font-size: medium;
    font-variant-caps: all-small-caps;
    flex-direction: row;
}

.tagline h2{
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    justify-content: flex-start;
    justify-content: left;
    margin: 0%;
    align-content: flex-start;
}