<<<<<<< HEAD
body {
    background-image: url("bkgd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

.title h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 8em;
    color: aliceblue;
    margin: 0px;
    position: relative;
    left: 40px;
    padding-top: 100px;
}


#person{
    width: 380px;
    height: auto;
    position: relative;
    top: 120px; left: 0px; right: 0px;
    padding-right: 20%;
    /*display: flex;
    justify-content: flex-end;
    align-items: right;*/
}

#logo {
    width: 700px;
    height: auto;
    position: relative;
    top: 160px; left: 40px;
    display: flex;
    align-content: flex-end;
}

#logo2 {
    width: 16%;
    height: auto;
    position: absolute;
    left: 42%;
}

#sitesearch placeholder {
    color: purple;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.navbar{
    background-color:rgba(0, 0, 0, 0);
    color:goldenrod;
    font-variant-caps: all-small-caps;
    font-size: 1.5em;
    font-weight: 500;
    position: absolute;
    top: 0;
    padding: 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 60px;
}

.navbar img{
    width: auto;
    height: 110px;
    margin: 0px 30px 30px 30px;
    align-self: baseline;
}

#expression{
    height: 90px;
    width: auto;
}

.navbar a{
    color:whitesmoke;
    text-decoration: none;
    align-self: baseline;
    margin: 30px;
}

.navbar input {
    margin: 20px;
}

.navbar a:hover{
    color:rgb(255, 231, 133);
}

button {
    color: rgb(255, 205, 3);
    background-color:  rgba(0, 0, 0, 0);
    font-size: medium;
    font-variant-caps: all-small-caps;
    flex-direction: row;
}

.tagline h2{
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
    left: 60px; 
    margin: 0%;
    display: flex;
    justify-content: left;
    align-content: flex-start;
}

#showmore {
    color: black;
    background-color: whitesmoke;
    font-family: poppins, sans-serif;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    left: 70%;
    /*display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;*/
}

#about_header {
    color: whitesmoke;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .timeline {
    background-color: pink;
    flex: 1 300;
}

main .photos {
    background-color: whitesmoke;
    flex: 2 800;
}

main .highlights {
    background-color: powderblue;
    flex: 1 300;
}

#about_header {
    width: 12%;
    height: auto;
    position: absolute;
    left: 47%;
=======
body {
    background-image: url("bkgd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

.title h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 8em;
    color: aliceblue;
    margin: 0px;
    position: relative;
    left: 40px;
    padding-top: 100px;
}


#person{
    width: 380px;
    height: auto;
    position: relative;
    top: 120px; left: 0px; right: 0px;
    padding-right: 20%;
    /*display: flex;
    justify-content: flex-end;
    align-items: right;*/
}

#logo {
    width: 700px;
    height: auto;
    position: relative;
    top: 160px; left: 40px;
    display: flex;
    align-content: flex-end;
}

#logo2 {
    width: 16%;
    height: auto;
    position: absolute;
    left: 42%;
}

#sitesearch placeholder {
    color: purple;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.navbar{
    background-color:rgba(0, 0, 0, 0);
    color:goldenrod;
    font-variant-caps: all-small-caps;
    font-size: 1.5em;
    font-weight: 500;
    position: absolute;
    top: 0;
    padding: 0px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 60px;
}

.navbar img{
    width: auto;
    height: 110px;
    margin: 0px 30px 30px 30px;
    align-self: baseline;
}

#expression{
    height: 90px;
    width: auto;
}

.navbar a{
    color:whitesmoke;
    text-decoration: none;
    align-self: baseline;
    margin: 30px;
}

.navbar input {
    margin: 20px;
}

.navbar a:hover{
    color:rgb(255, 231, 133);
}

button {
    color: rgb(255, 205, 3);
    background-color:  rgba(0, 0, 0, 0);
    font-size: medium;
    font-variant-caps: all-small-caps;
    flex-direction: row;
}

.tagline h2{
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
    left: 60px; 
    margin: 0%;
    display: flex;
    justify-content: left;
    align-content: flex-start;
}

#showmore {
    color: black;
    background-color: whitesmoke;
    font-family: poppins, sans-serif;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    left: 70%;
    /*display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;*/
}

#about_header {
    color: whitesmoke;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .timeline {
    background-color: pink;
    flex: 1 300;
}

main .photos {
    background-color: whitesmoke;
    flex: 2 800;
}

main .highlights {
    background-color: powderblue;
    flex: 1 300;
}

#about_header {
    width: 12%;
    height: auto;
    position: absolute;
    left: 47%;
>>>>>>> 747c229 (reload)
}